Repository maratonafullcyclesidartaoss/sfg-beer-works, changes with the owners that .github/CODEOWNERS names for each.
All owners: @desafiofullcyclesidartaoss, @imersaofullcyclesidartaoss, @sidartaoss

.github/CODEOWNERS:

*.js @desafiofullcyclesidartaoss
.github/ @imersaofullcyclesidartaoss
*.java @sidartaoss
*.html @desafiofullcyclesidartaoss

chore: add docker plugin
  Dockerfile
  docker-compose.yaml
  pom.xml
  src/main/docker/Dockerfile
Owners: none

ci: update ci.yaml
  .github/workflows/ci.yaml
Owners: @imersaofullcyclesidartaoss

ci: update ci.yaml
  .github/workflows/ci.yaml
Owners: @imersaofullcyclesidartaoss

chore: add openapi
  assets/api-docs/brewery-api.yaml
Owners: none

chore: add springfox
  .github/workflows/ci.yaml
  Dockerfile
  assets/api-tests/brewery.postman.json
  assets/rules/openapi3.spectral.yaml
  pom.xml
  src/main/java/guru/springframework/sfgrestbrewery/SwaggerSpecConfig.java
  src/main/resources/static/brewery-api.yaml
Owners: @imersaofullcyclesidartaoss, @sidartaoss

docs: update openapi yaml
  assets/api-docs/brewery-api.yaml
  src/main/resources/static/brewery-api.yaml
Owners: none

docs: update openapi yaml
  assets/api-docs/brewery-api.yaml
  src/main/resources/static/brewery-api.yaml
Owners: none

docs: update openapi yaml
  assets/api-docs/brewery-api.yaml
  src/main/resources/static/brewery-api.yaml
Owners: none

test: update api tests
  assets/api-tests/brewery.postman.json
Owners: none

test: update api tests
  assets/api-tests/brewery.postman.json
Owners: none

test: update api tests
  assets/api-tests/brewery.postman.json
Owners: none

test: update api tests
  assets/api-tests/brewery.postman.json
Owners: none

test: update api tests
  assets/api-tests/brewery.postman.json
Owners: none

test: update api tests
  assets/api-tests/brewery.postman.json
Owners: none

ci: update ci.yaml
  .github/workflows/ci.yaml
  pom.xml
Owners: @imersaofullcyclesidartaoss

ci: add cd.yaml
  .github/workflows/cd.yaml
  k8s/brewery.yaml
  k8s/kustomization.yaml
Owners: @imersaofullcyclesidartaoss

chore: update dockerfile
  Dockerfile
Owners: none

ci: update cd.yaml
  .github/workflows/cd.yaml
Owners: @imersaofullcyclesidartaoss

ci: update cd.yaml
  .github/workflows/cd.yaml
Owners: @imersaofullcyclesidartaoss
